# PF: ARM_VIRT
# PFDESCR: QEMU ARM Virtual Platform
# PFSELECT: CAN_ARM_CPU_CORTEX_A15 CAN_ARM_CPU_CORTEX_A57 HAS_ARM_PSCI
# PFSELECT: ARM_PSCI ARM_GIC HAVE_ARM_GICV2 HAVE_ARM_GICV3 HAVE_ARM_GIC_MSI
# PFSELECT: ARM_GENERIC_TIMER
# PFSELECT: CAN_ARM_CPU_CORTEX_A5 CAN_ARM_CPU_CORTEX_A7 CAN_ARM_CPU_CORTEX_A8 CAN_ARM_CPU_CORTEX_A9
# PFSELECT: CAN_ARM_CPU_CORTEX_A35 CAN_ARM_CPU_CORTEX_A53 CAN_ARM_CPU_CORTEX_A55 CAN_ARM_CPU_CORTEX_A72 CAN_ARM_CPU_CORTEX_A76 CAN_ARM_CPU_V7A CAN_ARM_CPU_V8A
# PFSELECT: HAS_ARM_SVE HAS_DT_OPTION
# PFDEPENDS: ARM
